<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="stylesheet_0.css">
    <head>
        <title>?? Inquiries on SynthaSphere</title>
        <meta charset= 'UTF-8'>
    </head>

    <body>
        <div class="title-bg"></div><div class="title">
            <h1 class="title">SynthaSphere</h1>
            <h2>Where the ideas are!</h2>
        </div>
        <div class="ribbon">
            <a href="Test.html"><button class="r">click me!</button></a>
            <a><button class="r" id="current">click me!</button></a>
            <a><button class="r">click me!</button></a>
            <a><button class="r">click me!</button></a>
        </div><div id="main">
            <div id="ideas">
                    <div class="imar"></div>
                    <div class="i">
                    <h1 class="i-name">
                        Idea Title
                    </h1>
                    <p class="i-desc">
                        text <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> .
                    </p>
            </div>
        </div>
        </div>
        <div class="end"> </div>
        <button id="new">➕</button>
    </body>

    <script src="Idea-Inquiries.js"></script>
</html>
